.header {
	text-align: center;
}
button, #add-topic {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background-color: #377;
	padding: 3px, 10px;
	margin:0 1px;
	color: #ccc;
	font-size: 18px;

}

#add-topic {
	margin:2% 20.5%;
	
}

#topic-input {
	border: 1px solid #666;
}

.gif {
	float: left;
}

@media only screen and (min-width: 1440px) {
	html {
		font-size: 20px;
	}
	button, #add-topic {
		font-size: 20px;
	}
	#add-topic {
		margin: 2% 44%;
	}
}

